.jobPanel {
	border-radius : 12px;
	box-shadow: 0px 0px 15px #aaaaaa;
	width: 700px;
	text-align: center;
	list-style: none;
	padding: 30px;
	margin: 0 35px 35px 27%;
}

.jobPanel:hover {
  scale: 1.1;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: black;
	line-height: 60px;
}


.header {
	box-shadow: 0px 10px 15px #aaaaaa;
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: red;
	display: flex;
	margin:0 15px 35px 0;
}


.details {
	font-size: 15px;
	color: red;
	font-weight: bold;
}

#loading {
	text-align: center;
	margin: auto;
}

button {
	text-align: center;
	margin: auto;
	display: flex;
	border-radius: 10px;
	border: 2px solid black;
	background-color: white;
	font-size: 20px;
}

button:hover {
	scale: 1.1;
}

button:active {
	scale: 1;
}